extends layout

block content
  h1= title
  if patient_list.length
    ul
      each patient in patient_list
        li
          a(href=patient.url) #{patient.name}
          |  ($#{patient.price})

  else
    p There are no patients.
